.post-product-container-click {
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  max-width: 350px;
  width: 100%;
  border: solid 1px #26466f;
  cursor: pointer;
}

.post-product-container-click .bi {
  font-size: 30px;
}

.public-product .bi-plus-square {
  color: green;
}

.public-product .bi-x-square {
  color: red;
}
